    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              <a href="http://dev.redlink.io">Redlink Developers</a>, 
              proudly hosted by <a href="http://pages.github.com/">GitHub Pages</a>.
            </p>
            <p>
              <a href="http://redlink.co">Redlink GmbH</a> &copy; 2013-2016. 
              <a href="/terms">Terms of service</a>.
            </p>
          </div>
          <div class="span6">
            <span>
              <a href="http://twitter.com/RedLinkGmbH" title="twitter"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/twitter.png" alt="twitter" /></a>
            </span>
            <span>
              <a href="http://www.facebook.com/pages/Redlink-Gmbh/369489779832374" title="facebook"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/facebook.png" alt="facebook" /></a>
            </span>
            <span>
              <a href="http://plus.google.com/109194362221512515603" title="google+"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/google.png" alt="google+" /></a>
            </span>
            <span>
              <a href="http://www.linkedin.com/company/3011979" title="linkedin"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/linkedin.png" alt="linkedin" /></a>
            </span>
            <span>
              <a href="https://vimeo.com/redlinkgmbh" title="vimeo"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/vimeo.png" alt="vimeo" /></a>
            </span>
            <span>
              <a href="http://www.flickr.com/photos/98964289@N03/" title="flickr"><img src="https://redlink-cdn-2fc0b.firebaseapp.com/img/flickr.png" alt="flickr" /></a>
            </span>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-transition.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-alert.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-modal.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-dropdown.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-scrollspy.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-tab.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-tooltip.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-popover.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-button.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-collapse.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-carousel.js"></script>
    <script src="https://redlink-cdn-2fc0b.firebaseapp.com/js/bootstrap-typeahead.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.redlink.co/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "4"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
