
  <body>

    <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 121px;">
      <section class="menu-logo withmetamenu">
        <div id="metamenu">
          <div class="menu-meta-menu-container">
            <ul id="meta-nav" class="menu">
              <li id="menu-item-113" class="meta-developer menu-item menu-item-type-custom menu-item-object-custom menu-item-113">
                <a href="http://dev.redlink.io"><i class="fa fa-file-code-o"></i>Developers</a>
              </li>
              <li id="menu-item-115" class="meta-dashboard menu-item menu-item-type-custom menu-item-object-custom menu-item-115">
                <a target="_blank" href="http://my.redlink.io"><i class="fa fa-bar-chart"></i>Dashboard</a>
              </li>
              <li id="menu-item-114" class="meta-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                <a target="_blank" href="http://redlink.co"><i class="fa fa-home"></i>Website</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container" style="height: 87px;">
          <div class="row">
            <div class="col-md-2" style="float: left;">
              <h1><a href="/" rel="home"><div class="navbar-logo">dev.redlink.io</div></a></h1>
            </div>
            <div class="col-md-10 right" style="text-align: right;">
              <ul id="menu" class="sf-menu2 sf-menu  l_tinynav1 sf-js-enabled sf-arrows">
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/"{% if page.url == '/' %} class="nav-active"{% endif %}><strong>Home</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/api"{% if page.url contains '/api' %} class="nav-active"{% endif %}><strong>API</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/console"{% if page.url contains '/console' %} class="nav-active"{% endif %}><strong>Console</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/sdk"{% if page.url contains '/sdk' %} class="nav-active"{% endif %}><strong>SDK</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/plugins"{% if page.url contains '/plugins' %} class="nav-active"{% endif %}><strong>Plugins</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="https://my.redlink.io/#/apps/DEMO/playground" target="_blank"><strong>Demo</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/faq"{% if page.url contains '/faq' %} class="nav-active"{% endif %}><strong>FAQ</strong><span></span></a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                  <a href="/contact"{% if page.url contains '/contact' %} class="nav-active"{% endif %}><strong>Contact Us</strong><span></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div style="clear: both;"></div>



