
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/resources/img/redlink-developers.png" alt="Redlink Developers" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
              <li{% if page.url contains '/api' %} class="active"{% endif %}><a href="/api">API</a></li>
              <li{% if page.url contains '/sdk' %} class="active"{% endif %}><a href="/sdk">SDK</a></li>
              <li{% if page.url contains '/plugins' %} class="active"{% endif %}><a href="/plugins">Plugins</a></li>
              <li{% if page.url contains '/demos' or page.url contains '/console' %} class="active"{% endif %}><a href="/demos">Demos</a></li>
              <li{% if page.url contains '/faq' %} class="active"{% endif %}><a href="/faq">FAQ</a></li>
              <li{% if page.url contains '/contact' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
